<body background="https://i.pinimg.com/564x/1a/82/4a/1a824ace16b3697d485d6cb5e1f591cb.jpg">
</body>


  <div class="contents row">
    <div class="success">
      <h3>
        削除が完了しました。
      </h3>
      <a class="btn" href="/">投稿一覧へ戻る</a>
    </div>
  </div>